nav.desktop {
	position: fixed;
	box-sizing: content-box;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1000;
	height: $nav-height;
	user-select: none;
	pointer-events: none;
	@include indentation(padding-left);
	@include indentation(padding-right);
	@include indentation(padding-top);

	transition: all $nav-anim-dur, background-color ($nav-anim-dur / 2);

	.logo {
		position: relative;
		float: left;
		pointer-events: auto;
		height: 100%;
		width: auto;
		font-size: .66rem;
		font-weight: 900;
		line-height: $nav-height;
		transition: margin-left $nav-anim-dur;

		@media only screen and (min-width: 1200px) {
			margin-left: 4%;
		}

		h1 {
			display: none;
		}

		img {
			position: absolute;
			height: 100%;
			transition: opacity $nav-anim-dur * 2;

			&.black, &.white {
				opacity: 0;
			}

			&.color {
				opacity: 1;
			}
		}
	}

	ul {
		float: right;
		pointer-events: auto;
		height: 100%;

		a {
			float: left;
			padding: 0;
			margin: 0;
			line-height: $nav-height;
			height: $nav-height;
			color: $nav-color;
			transition: color .25s;

			&:last-child {
				li {
					padding-right: 0;
				}
			}

			&:hover {
				color: $nav-color-hover;
			}

			li {
				float: left;
				font-size: .33rem;
				font-weight: 900;
				line-height: $nav-height;
				padding: 0 .33rem;
			}
		}
	}

	// Nav scroll

	&.white {
		img {
			&.color {
				opacity: 0;
			}

			&.white {
				opacity: 1;
			}
		}

		.hamburger {
			.line {
				background-color: $white;
			}
		}
	}

	&.scroll {
		background-color: $nav-bg-color-scroll;
		padding-top: $nav-padding-scroll;
		padding-bottom: $nav-padding-scroll;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

		img {
			&.color {
				opacity: 1;
			}

			&.white {
				opacity: 0;
			}
		}

		.hamburger {
			.line {
				background-color: $blue-dark;
			}
		}

		.logo {
			margin-left: 0;
		}

		ul a {
			color: $nav-color-scroll;

			&:hover {
				color: $nav-color-hover;
			}
		}
	}
}