$mobile-font-size: .66rem;

#main-scrollbar {
	transition: all .33s;
	animation-timing-function: ease-in-out;
}

#main-scrollbar.open-nav {
	position: relative;
	transform: scale(0.75, 0.75);
	filter: blur(2px);
}

.bg-dark {
	pointer-events: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 900;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;

	transition: opacity $nav-anim-dur;
	animation-timing-function: ease-in-out;

	&.open-nav {
		opacity: .5;
	}
}

nav.mobile {
	.hamburger {
		display: block;
		cursor: pointer;
		pointer-events: auto;
		float: right;
		margin: .25rem 0;

		.line {
			height: 2px;
			width: 1rem;
			transition: all $nav-anim-open-dur;

			&.center {
				margin: 10px 0;
			}
		}

		&.open {
			.line.top {
				transform: translateY(12px) rotate(-45deg);
			}

			.line.center {
				width: 0;
			}

			.line.bottom {
				transform: translateY(-12px) rotate(45deg);
			}
		}
	}

	ul {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		display: block;
		height: 0;
		width: 100%;
		pointer-events: none;
		@include gradient(135deg, $blue-dark, $blue-light);

		transition: all $nav-anim-open-dur;
		animation-timing-function: ease-in-out;

		span.center {
			position: absolute;
			@include align(c,c);
			padding-bottom: 500px;
			opacity: 0;

			transition: all $nav-anim-open-dur;

			a {
				float: none;

				li {
					float: none;
					text-align: center;
					padding: 0;
					font-size: $mobile-font-size;
					line-height: $mobile-font-size * 2;
				}
			}
		}
	}

	// Open nav

	&.open {
		.logo {
			img {
				&.black, &.color {
					opacity: 0;
				}

				&.white {
					opacity: 1;
				}
			}
		}

		ul {
			height: 100%;
			pointer-events: auto;

			span.center {
				padding-bottom: 0;
				opacity: 1;
			}
		}
	}

	// Nav Scroll

	&.scroll {
		ul a {
			color: $nav-color-scroll-nav;
		}
	}

	@media only screen and (max-width: 767px) {
		.hamburger .line {
			background-color: $blue-dark;
		}

		&.open {
			.hamburger .line {
				background-color: $white;
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1920px) {
		.hamburger .line {
			background-color: $white;
		}

		&.scroll {
			.hamburger .line {
				background-color: $blue-dark;
			}
		}

		&.open {
			.hamburger .line {
				background-color: $white;
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		.hamburger .line {
			background-color: $white;
		}
	}
}