#header {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: $black;
	background-image: url('../assets/img/header-bg.jpg');
	background-size: cover;
	background-position: 20vw center;
	background-repeat: no-repeat;

	.left {
		position: relative;
		z-index: 10;
		display: flex;
    justify-content: center;
    align-items: center;
		float: left;
		height: 100%;
		background-color: $white;
		box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);

		.align {
			margin: 0 auto;
			margin-top: 10vh;

			h2.title {
				font-size: .66rem;
				text-transform: uppercase;
			}

			p.description {
				font-family: 'Gilroy';
				font-size: .42rem;
			}

			.contact {
				.line {
					cursor: pointer;
					pointer-events: none;
					font-size: .5rem;
					margin-top: .18rem;

					i.material-icons {
						margin-right: 10px;
						padding-top: 5px;
					}

					i.material-icons, a {
						pointer-events: auto;
						display: inline;
						font-size: .28rem;
						font-weight: 800;
						line-height: .33rem;
						transition: color .33s;
						color: $black;
					}

					&:hover {
						i.material-icons, a {
							color: $orange;
						}
					}
				}
			}
		}
	}

	.info {
		@include gradient(135deg, $blue-dark, $blue-light);
		padding: .5rem 0;
		overflow: hidden;
		transition: all .25s;

		ul {
			width: 60%;
			margin: 0 auto;
			margin-top: 1.25rem;
			list-style-type: none;
			counter-reset: index_list;
			transition: opacity .25s .25s;

			li {
				position: relative;
				color: $white;
				margin: .66rem 0;

				&:before {
					content: '0'counter(index_list);
					counter-increment: index_list;
					position: absolute;
					top: .02rem;
					left: -.66rem;
					font-family: 'Gilroy';
				}
			}
		}

		.hide-info-header {
			user-select: none;
			cursor: pointer;
			height: 1.5rem;
			width: 1.5rem;
			position: absolute;
			right: 0;
			bottom: 0;
			transform: rotate(-135deg);
			transition: transform .25s;

			i.material-icons {
				position: absolute;
				@include align(c,c);
				color: $white;
				font-size: .66rem;
			}
		}

		&.hide {
			width: 1.5rem;
			min-height: 1.5rem;
			max-height: 1.5rem;
			margin: 0;
			padding: 0;

			ul {
				opacity: 0;
				transition: opacity 0s;
			}
		}
	}

	a.scroll-down {
		position: absolute;
		display: block;
		background-color: $orange;

		h2 {
			pointer-events: none;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			transform: translate(-50%, -33%);
			color: $white;
			font-size: 1.5rem;
			line-height: 1.33rem;
			white-space: nowrap;
		}

		i.material-icons {
			position: absolute;
			font-size: .66rem;
			color: $white;
			transition: transform .33s;
		}
	}

	// Media

	@media only screen and (max-width: 767px) {
		.left {
			width: 100%;
			text-align: center;
			float: none;
			@include indentation(padding-left);
			@include indentation(padding-right);

			.align {
				width: 100%;
				margin-top: 2.5vh;

				p.description {
					margin: .66rem 0;
				}

				.contact {
					margin-top: 5vh;

					.line {
						a, i.material-icons {
							font-size: .33rem;
						}
					}
				}
			}
		}

		.info {
			position: absolute;
			@include align(c,t);
			z-index: 10;
			width: 100%;
			min-height: 90%;
			max-height: 90%;
			opacity: 1;
			padding-top: 1rem;

			ul li {
				font-size: .42rem;
			}

			&.hide {
				opacity: 0;
			}
		}

		a.scroll-down {
			z-index: 10;
			width: 100%;
			height: 10%;
			left: 0;
			right: 0;
			bottom: 0;

			h2 {
				display: none;
			}

			i.material-icons {
				@include align(c,c);
			}
		}
	}

	// Media

	// Common

	@media only screen and (min-width: 768px) {
		.left {
			.align {
				width: 80%;
				margin-top: 10vh;

				p.description {
					margin: 1rem 0;
				}

				.contact {
					margin-top: 10vh;

					.line {
						a, i.material-icons {
							font-size: .33rem;
						}
					}
				}
			}
		}

		.info {
			position: relative;
			z-index: 5;
			float: left;
			opacity: .9;
			@include indentation(padding-top);

			ul li {
				font-size: .33rem;
			}

			&.hide {
				.hide-info-header {
					transform: rotate(45deg);
				}
			}
		}

		a.scroll-down {
			height: 16.66%;
			right: 0;
			bottom: 0;

			i.material-icons {
				@include align(r,c);
				@include indentation(margin-right);
			}

			&:hover {
				i.material-icons {
					transform: translateY(-25%);
				}
			}
		}
	}

	// Tablet

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		.left {
			width: 50%;
			text-align: left;
		}

		.info {
			width: 41.66%;
			min-height: 50%;
			max-height: 83.33%;
		}

		a.scroll-down {
			width: 50%;

			h2 {
				display: none;
			}
		}
	}

	// Desktop

	@media only screen and (min-width: 1200px) {
		.info {
			max-height: 100%;
			min-height: 83.33%;
		}

		a.scroll-down {
			width: 33.33%;
			height: 16.66%;
		}
	}
}