#program {
	background-color: #fff;

	section.program-list {
		cursor: pointer;
		float: left;
		height: 100%;

		article {
			position: relative;
			height: 33.33%;
			width: 100%;
			background-color: $black;
			color: $white;
			@include indentation(padding-right);
			@include indentation(padding-left);
			display: flex;
			align-items: center;
			overflow: hidden;

			img.bg {
				position: absolute;
				z-index: 1;
				@include align(c,c);
				width: 100%;
				min-width: 100%;
				min-height: 100%;
			}

			img.flag {
				position: absolute;
				z-index: 3;
				@include align(r,b);
				width: 1.25rem;
			}

			.gradient {
				z-index: 2;
				opacity: .75;
			}

			.text {
				position: relative;
				z-index: 5;

				h3.title {
					font-size: .5rem;
					margin-bottom: .33rem;
				}

				.info {
					overflow: hidden;
					max-height: 0;
					transition: max-height .33s;

					&.open {
						max-height: 200px;
					}

					p {
						font-family: 'Gilroy';
						text-transform: uppercase;
						font-weight: 900;
					}

					p.description {
						font-family: 'Roboto';
						text-transform: none;
						font-weight: 300;
						margin-bottom: .25rem;
					}
				}

				p.more {
					cursor: pointer;
					font-family: 'Gilroy';
					font-size: .33rem;
					text-decoration: underline;
					margin-top: .18rem;
				}
			}
		}
	}

	.right {
		height: 100%;
		float: right;
		background-color: #f8f8f8;
		display: flex;
    justify-content: center;
    align-items: center;

		.align {
			width: 75%;

			h2.title,
			h3.sub-title {
				color: $orange;
				text-transform: uppercase;
			}

			h3.sub-title {
				font-size: .5rem;
				margin: .5rem 0;
			}

			p.description {
				font-size: .42rem;
				font-weight: 200;
				padding-left: 2.5rem;
			}

			form {
				margin-top: 3rem;

				p.text {
					font-family: 'Gilroy';
					text-transform: uppercase;
					font-weight: 800;
					font-size: .5rem;
					margin: .5rem 0;
				}

				input {
					height: $btn-height;
					border: 2px solid $black;
					padding: .33rem;
					font-family: 'Gilroy';
					font-size: .33rem;
					font-weight: 800;
					transition: all .25s;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	// Media

	@media only screen and (max-width: 1199px) {
		height: auto;
		overflow: auto;

		section.program-list, .right {
			width: 100%;
			padding: 0;
		}

		section.program-list {
			article {
				height: 350px;
				justify-content: center;
				text-align: center;

				img.flag {
					@include align(c,b);
				}

				.text {
					width: 100%;

					.info {
						p, p.description {
							font-size: .42rem;
						}
					}
				}
			}
		}

		.right {
			padding: 2rem 0;
			@include indentation(padding-right);
			@include indentation(padding-left);

			.align {
				width: 100%;
				text-align: center;

				h2.title,
				h3.sub-title {
					width: 100%;
					margin: 0 auto;
				}

				h2.title {
					font-size: .66rem;
					margin-bottom: .5rem;
				}

				p.description {
					width: 83.33%;
					margin: 0 auto;
					padding: 1rem 0;
				}

				form {
					width: 83.33%;
					margin: 0 auto;

					p.text {
						font-size: .5rem;
					}

					input {
						text-align: center;
						width: 80%;
					}

					.btn {
						width: 80%;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		section.program-list {
			article {
				justify-content: center;
				text-align: center;

				.text {
					width: 50%;
				}
			}
		}

		.right .align {
			width: 66.66%;
			margin: 0 auto;

			form {
				input, .btn {
					width: 83.33%;
				}

				input {
					text-align: center;
				}
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		height: 100vh;

		section.program-list {
			width: 41.66%;

			article {
				justify-content: left;
				text-align: left;

				img.flag {
					@include align(r,b);
				}
			}
		}

		.right {
			text-align: right;
			width: 58.33%;
			@include indentation(padding-right);

			.align {
				width: 75%;

				form {
					input {
						width: 36%;
					}

					p.text {
						padding-left: 2rem;
					}
				}
			}
		}
	}
}
