#advantages {
	width: 100%;
	@include indentation(padding-left);
	@include indentation(padding-right);

	.align {
		margin: 0 auto;
		padding: 2rem 0;

		.row {
			width: 100%;
			overflow: auto;

			.item,
			.title {
				position: relative;
				float: left;

				h2 {
					text-transform: uppercase;
					color: $orange;
				}

				h3 {
					font-size: .42rem;
					text-transform: uppercase;
				}

				p.info {
					font-weight: 400;
					line-height: .5rem;
					margin-top: .5rem;
					margin-bottom: .33rem;
					max-height: 1rem;
					overflow: hidden;
					opacity: .5;
					transition: all .33s;

					&.open {
						max-height: 250px;
					}
				}

				img {
					position: absolute;
					left: 0;
					top: 0;
					height: 1.5rem;
					width: auto;
				}

				p.detail {
					font-family: 'Gilroy';
					font-weight: 800;
					text-decoration: underline;
					margin: 0;
					opacity: .5;
					cursor: pointer;
					user-select: none;
				}
			}
		}
	}

	// Media

	@media only screen and (max-width: 767px) {
		.align {
			width: 83.33%;

			.item,
			.title {
				width: 100%;
				margin: 1rem 0;
				padding: 0;
				padding-left: 2.5rem;

				p.info,
				p.detail {
					font-size: .42rem;
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		.align {
			width: 100%;

			.item,
			.title {
				width: 50%;
				margin: 1rem 0;
				padding: 0 1.5rem;
				padding-left: 2.5rem;

				p.info,
				p.detail {
					font-size: .42rem;
				}
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		.align {
			width: 83.33%;

			.item,
			.title {
				width: 50%;
				margin: 1rem 0;
				padding: 0 1.5rem;
				padding-left: 2.5rem;

				p.info {
					font-size: .33rem;
				}
			}
		}
	}
}