#video {
	width: 100%;
	padding-bottom: 2rem;
	@include indentation(padding-left);
	@include indentation(padding-right);
	background-color: #f8f8f8;

	h2 {
		position: relative;
		text-align: center;
		padding: 1rem 0;
		font-size: 2rem;
		line-height: 2rem;
	}

	.slider {
		position: relative;
		height: 5rem;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0);

		a {
			position: relative;
			height: 5rem;
			overflow: hidden;
			margin: 0 .33rem;

			&:focus {
				outline: none;
			}

			img {
				width: 100%;
				min-height: 100%;
				margin: 0 auto;
			}

			&:after {
				content: 'play_circle_outline';
				font-family: 'Material Icons';
				color: $white;
				position: absolute;
				@include align(c,c);
				transition: color .33s;
			}

			&:hover {
				&:after {
					color: $orange;
				}
			}
		}

		.controls {
			position: absolute;
			z-index: 500;
			width: 100%;
			height: 100%;
			pointer-events: none;
			user-select: none;

			.prev,
			.next {
				position: absolute;
				box-sizing: border-box;
				pointer-events: auto;
				cursor: pointer;
				height: 2rem;
				width: 2rem;

				i.material-icons {
					position: absolute;
					transition: color .33s;
				}

				&:hover {
					i.material-icons {
						color: $orange;
					}
				}
			}

			.prev {
				@include align(l,c);

				i.material-icons {
					@include align(l,c);
				}
			}

			.next {
				@include align(r,c);

				i.material-icons {
					@include align(r,c);
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.slider {
			width: 75%;
			box-shadow: 0px 10px 100px 2px rgba(0, 7, 3, 0.15);

			a {
				margin: 0;
			}

			.controls {
				.prev {
					left: -16.66%;
				}

				.next {
					right: -16.66%;
				}
			}
		}
	}

	@media only screen and (min-width: 768px) {
		.slider {
			width: 83.33%;

			.controls {
				.prev {
					left: -10%;
				}

				.next {
					right: -10%;
				}
			}
		}
	}
}