#skills {
	width: 100%;

	.left {
		height: 100%;
		float: left;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;

		.align {
			height: auto;

			h2 {
				font-size: .83rem;
				text-transform: uppercase;

				span {
					color: $orange;
				}
			}

			p {
				font-size: .33rem;
				//text-transform: uppercase;
				margin-top: 1rem;
				margin-bottom: 2rem;
			}

			.btn {
				p {
					text-transform: none;
				}
			}
		}
	}

	.right {
		height: 100%;
		float: right;
		background-image: url('../assets/img/skills.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		display: flex;
		justify-content: center;
		align-items: center;

		.align {
			h2 {
				width: 100%;
				margin-bottom: -1.5rem;
				font-size: 5rem;
				line-height: 5rem;
				color: $orange;
				text-align: center;
				opacity: 0;
			}

			.info {
				box-sizing: border-box;
				position: relative;
				padding: 1.25rem;
				background-color: rgba($color: $blue-dark, $alpha: .95);
				color: $white;

				p {
					font-family: 'Gilroy';
					font-weight: 800;
					font-size: .42rem;
					margin-bottom: 1rem;
				}

				ul {
					overflow: auto;
					list-style-type: none;
					counter-reset: index_list;

					li {
						position: relative;
						float: left;
						font-size: .33rem;
						margin: .25rem 0;
						padding: 0 .66rem;

						&:before {
							content: '0'counter(index_list);
							counter-increment: index_list;
							position: absolute;
							top: .02rem;
							left: 0;
							font-family: 'Gilroy';
						}
					}
				}

				.btn {
					height: 1.5rem;
					line-height: 1.5rem;
					position: absolute;
					z-index: 5;
					text-align: center;
					box-shadow: none;

					p {
						font-size: .5rem;
						font-weight: 200;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	// Media

	@media only screen and (max-width: 767px) {
		overflow: auto;

		.left {
			width: 100%;
			text-align: center;
			padding: 1.5rem;

			.align {
				width: 83.33%;
			}
		}

		.right {
			width: 100%;

			h2 {
				font-size: 3rem;
			}

			.info {
				width: 66.66%;
				margin: 0 auto;
				margin-bottom: 2rem;

				.btn {
					width: 50%;
					left: 25%;
					bottom: 0;
					transform: translateY(50%);
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		overflow: auto;

		.left {
			width: 100%;
			text-align: center;
			padding: 1.5rem;

			.align {
				width: 83.33%;
			}
		}

		.right {
			width: 100%;

			.info {
				width: 100%;
				margin: 0 auto;
				margin-bottom: 2rem;

				ul {
					li {
						width: 100%;
					}
				}

				.btn {
					width: 50%;
					left: 25%;
					bottom: 0;
					transform: translateY(50%);
				}
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		height: 100vh;

		.left {
			width: 41.66%;
			//@include indentation(padding-left);

			.align {
				width: 60%;
			}
		}

		.right {
			width: 58.33%;
			@include indentation(padding-right);

			.align {
				h2 {
					margin-left: -14.25%;
				}

				.info {
					width: 100%;
					margin-left: -14.25%;

					ul {
						li {
							width: 50%;
						}
					}

					.btn {
						width: 42.66%;
						left: 50%;
						bottom: 0;
						transform: translateY(50%);
					}
				}
			}
		}
	}
}