#schedule {
	overflow: hidden;
	width: 100%;
	background-image: url('../assets/img/schedule.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.left {
		height: 100%;
		float: left;

		.time {
			position: relative;
			width: 100%;
			height: 66.66%;
			@include indentation(padding-left);
			@include gradient(135deg, $blue-light, $blue-dark);
			color: $white;

			.container {
				position: absolute;
				@include align(c,c);
				width: 80%;

				.period {
					position: relative;
					padding-left: 1.25rem;
					outline: none;

					.number {
						font-family: 'Gilroy';
						font-weight: 800;
						font-size: .33re;
						position: absolute;
						top: .12rem;
						left: 0;
					}

					.title {
						font-size: .83rem;
						text-transform: uppercase;
					}

					.description {
						font-size: .42rem;
						font-weight: 200;
						margin: .83rem 0;
					}

					.controls {
						i.material-icons, p {
							float: left;
							font-size: .5rem;
						}

						p {
							font-family: 'Gilroy';
							font-weight: 800;
							color: $orange;
							margin: 0 1rem;
						}

						i.material-icons {
							cursor: pointer;
							transition: all .33s;

							&:hover {
								color: $orange;
							}
						}
					}
				}
			}
		}

		.contact {
			position: relative;
			height: 33.33%;
			display: flex;
			justify-content: center;
			align-items: center;

			&:after {
				content: "";
				z-index: 1;
				position: absolute;
				@include align(c,c);
				width: 100%;
				height: 100%;
				background-color: #000000;
				opacity: 0.33;
			}

			form {
				z-index: 2;
				width: 83.33%;

				p.text {
					font-family: 'Gilroy';
					text-transform: uppercase;
					font-weight: 800;
					margin-bottom: .5rem;
					color: $white;
				}

				input {
					height: $btn-height;
					border: 2px solid $white;
					color: $white;
					padding: .33rem;
					font-family: 'Gilroy';
					font-size: .33rem;
					font-weight: 800;
					transition: all .25s;
					background-color: rgba($color: #000000, $alpha: 0);

					&::placeholder {
						color: $white;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}
	}

	.right {
		position: relative;
		width: 58.33%;
		height: 100%;

		float: right;

		h2 {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 50%;
			height: 33.33%;
			background-color: #fff;
			font-size: .83rem;
			text-transform: uppercase;
			padding: 1.5rem;
			color: $orange;

			&:before {
				content: "";
				width: 2px;
				height: 10000px;
				background-color: $white;
				position: absolute;
				bottom: 0;
				right: 0;
			}

			&:after {
				content: "";
				width: 10000px;
				height: 2px;
				background-color: $white;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	// Media

	@media only screen and (max-width: 767px) {
		height: 125vh;
		background-position: 50% 25%;

		.left {
			width: 100%;

			.time,
			.contact {
				height: 50%;
			}

			.contact {
				background-image: url('../assets/img/schedule.jpg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			.contact form {
				text-align: center;

				p.text {
					font-size: .75rem;
				}

				input, .btn {
					width: 66.66%;
					text-align: center;
				}
			}
		}

		.right {
			display: none;
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		height: 100vh;

		.left {
			width: 100%;
			margin: 0 auto;

			.time,
			.contact {
				height: 50%;
			}

			.contact {
				background-image: url('../assets/img/schedule.jpg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}

			.contact {
				form {
					text-align: center;

					p.text {
						font-size: .66rem;
					}
				}
			}

			.time {
				width: 100%;
				margin: 0 auto;
			}
		}

		.right {
			display: none;
		}
	}

	@media only screen and (min-width: 1200px) {
		height: 91.66vh;

		.left {
			width: 41.66%;

			.contact {
				@include indentation(padding-left);

				form p.text {
					font-size: .5rem;
				}
			}
		}

		.right {
			display: block;
		}
	}
}