#date {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100vh;
	color: $white;
	text-align: center;

	#video-bg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1;
		overflow: hidden;
	}

	.align {
		position: absolute;
		z-index: 100;
		@include align(c,c);
		width: 83.33%;
		margin: 0 auto;

		h2 {
			font-size: .83rem;
			text-transform: uppercase;
		}

		p {
			font-size: .42rem;
			font-weight: 600;
			margin-top: .5rem;
			margin-bottom: 1rem;
		}

		table.desktop {
			width: 100%;
			border-spacing: .1rem;
			font-family: 'Gilroy';
			font-weight: 800;

			td {
				background-color: rgba($color: $white, $alpha: 0.25);
				color: $white;
				font-size: .42rem;
				padding: .42rem 0;
				transition: all .33s;

				&:hover {
					cursor: pointer;
					color: $white;
					background-color: rgba($color: #1e213e, $alpha: 0.75);
				}
			}

			tr td:first-child,
			thead td {
				background-color: rgba($color: #1e213e, $alpha: 0.75);
				color: $white;
			}
		}

		.controls {
			width: 100%;
			height: 1rem;
			padding: 0 8.33%;


			i.prev {
				float: left;
			}

			i.next {
				float: right;
			}

			i {
				cursor: pointer;
				color: $white;
				transition: color .33s;

				&:hover {
					color: $orange;
				}
			}
		}

		.mobile {
			width: 100%;
			font-family: 'Gilroy';
			font-weight: 800;

			.col-main {
				float: left;
				width: 50%;

				.row {
					background-color: #1e213e;
					color: $white;
					font-size: .42rem;
					padding: .42rem 0;
					margin: .1rem;
					opacity: .9;
				}
			}

			.col {
				float: left;
				width: 50%;

				.row {
					background-color: $white;
					color: $black;
					font-size: .42rem;
					padding: .42rem 0;
					margin: .1rem;
					opacity: .9;

					&:first-child {
						background-color: #1e213e;
						color: $white;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1199px) {
		table.desktop {
			display: none;
		}
	}

	@media only screen and (min-width: 1200px) {
		.controls {
			display: none;
		}

		.mobile {
			display: none;
		}
	}
}