#about {
	width: 100%;

	.left {
		position: relative;
		background-image: url('../assets/img/about.jpg');
		background-size: cover;
		background-position: left center;
		background-repeat: no-repeat;
		height: 100%;
		float: left;

		.cost {
			background-color: $blue-dark;
			color: $white;
			@include gradient(135deg, $blue-dark, $blue-light);
			opacity: .95;

			h4 {
				text-transform: uppercase;
				font-size: .66rem;
				margin-bottom: .42rem;
			}

			ul {
				li {
					font-size: .42rem;
					font-weight: 200;
					padding: .06rem;
					list-style-type: none;

					&:before {
						content: "- ";
						font-weight: 800;
					}
				}
			}
		}
	}

	.right {
		float: right;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.align {
			width: 75%;

			.title {
				font-size: .83rem;
				text-transform: uppercase;
			}

			ul {
				margin: 1rem 0;

				li {
					text-align: justify-right;
					font-size: .33rem;
					font-weight: 200;
					padding: .25rem 0;
					list-style-type: none;

					&:before {
						content: "- ";
						font-weight: 800;
					}
				}
			}
		}
	}

	// Media

	@media only screen and (max-width: 1199px) {
		height: 225vh;

		.left,
		.right {
			width: 100%;
			height: 50%;
			text-align: center;
		}

		.left {
			.cost {
				text-align: left;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -10%);
				width: 100%;
				padding: 1rem;
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		height: 125vh;

		.left {
			.cost {
				transform: translate(-50%, -30%);
				width: 66.66%;
				height: auto;
				padding: 1.5rem;
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		height: 110vh;

		.left,
		.right {
			width: 50%;
		}

		.right {
			text-align: right;
			@include indentation(padding-right);
		}

		.left {
			@include indentation(padding-left);

			.cost {
				position: absolute;
				left: 0;
				bottom: 8.33%;
				width: 100%;
				padding: 1.25rem;
				@include indentation(margin-left);
			}
		}
	}
}