#feedback {
	height: 100vh;
	width: 100%;
	background-image: url('../assets/img/contact.jpg');
	background-position: center;
	background-size: cover;

	.content {
		position: relative;
		width: 100%;
		height: 100%;
		@include indentation(padding-left);
		@include indentation(padding-right);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $white;

		.gradient {
			z-index: 1;
			opacity: 0.9;
		}

		.align {
			position: relative;
			z-index: 2;
			width: 50%;

			h2, form {
				width: 80%;
				margin: 0 auto;
			}

			h2 {
				text-transform: uppercase;
			}

			p {
				font-size: .42rem;
				font-weight: 200;
				margin: 1rem 0;
			}

			form {
				input {
					width: 100%;
					height: .75rem;
					float: left;
					background: none;
					border: 0;
					outline: none;
					margin: .25rem 0;
					padding: .25rem;
					border-bottom: 1px solid $white;
					color: $white;
					text-align: center;
					font-weight: 800;
					font-size: .33rem;
					transition: border .33s;

					&::placeholder {
						color: $white;
						font-weight: 200;
						font-size: .33rem;
					}

					&:focus {
						border-bottom-color: $orange;
					}
				}

				.btn {
					background-image: none;
					background-color: $orange;
					margin-top: 1rem;

					p {
						font-weight: 800;
					}
				}
			}
		}

		@media only screen and (max-width: 767px) {
			.align {
				width: 100%;

				h2 {
					font-size: .66rem;
				}

				h2, form {
					width: 66.66%;
					margin: 0 auto;
				}

				.btn {
					width: 100%;
				}
			}
		}

		@media only screen and (min-width: 768px) and (max-width: 1199px) {
			.align {
				width: 75%;

				h2 {
					font-size: .75rem;
				}

				.btn {
					width: 66.66%;
				}
			}
		}

		@media only screen and (min-width: 1200px) {
			.align {
				width: 50%;

				h2 {
					font-size: .83rem;
				}

				.btn {
					width: 66.66%;
				}
			}
		}
	}
}