#team {
	width: 100%;
	overflow: auto;
	padding-bottom: 2rem;
	@include indentation(padding-left);
	@include indentation(padding-right);
	background-color: $orange;
	color: $white;

	h2 {
		position: relative;
		text-align: center;
		padding: 1rem 0;
		font-size: 2rem;
		line-height: 2rem;
	}

	.slider {
		position: relative;
		margin: 0 auto;

		.item {
			position: relative;
			width: 100%;
			overflow: hidden;
			background-size: cover;
			background-position: center;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&:hover {
				.info {
					height: 100%;

					.name {
						height: 33.33%;
						line-height: 2rem;
						height: 2rem;
					}

					.resume {
						opacity: 1;
						margin-top: 0;
					}
				}
			}

			.info {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 2.5rem;
				background-color: $white;
				color: $black;
				text-align: center;
				transition: all .33s;

				.name {
					height: 2.5rem;
					width: 100%;
					line-height: 2.5rem;
					text-transform: uppercase;
					transition: all .33s;
				}

				.resume {
					padding: 0 .42rem;
					margin-top: 3rem;
					opacity: 0;
					transition: all .33s .11s;
				}
			}
		}

		.controls {
			position: absolute;
			z-index: 500;
			width: 100%;
			height: 100%;
			pointer-events: none;

			.prev,
			.next {
				position: absolute;
				box-sizing: border-box;
				pointer-events: auto;
				cursor: pointer;
				height: 2rem;
				width: 2rem;

				i.material-icons {
					position: absolute;
					transition: color .33s;
				}

				&:hover {
					i.material-icons {
						color: $black;
					}
				}
			}

			.prev {
				@include align(l,c);
				left: -25%;

				i.material-icons {
					@include align(l,c);
				}
			}

			.next {
				@include align(r,c);
				right: -25%;

				i.material-icons {
					@include align(r,c);
				}
			}
		}
	}

	// Media

	// Mobile

	@media only screen and (max-width: 767px) {
		.slider {
			width: 66.66%;
			height: 8rem;
			box-shadow: 0px 10px 100px 2px rgba(0, 7, 3, 0.1);

			.item {
				margin: 0;
				height: 8rem;

				.info {
					.name {
						font-size: .5rem;
					}
					.resume {
						font-size: .36rem;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		.slider {
			width: 66.66%;
			height: 8rem;

			.item {
				margin: 0 .25rem;
				height: 8rem;

				.info {
					.name {
						font-size: .42rem;
					}
					.resume {
						font-size: .33rem;
					}
				}
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		.slider {
			width: 91.66%;

			.controls {
				display: none;
			}

			.items {
				overflow: auto;

				.item {
					float: left;
					width: 24%;
					height: 7rem;
					margin: .5%;

					.info {
						.name {
							font-size: .42rem;
						}
						.resume {
							font-size: .29rem;
						}
					}
				}
			}
		}
	}
}