#academy {
	.left {
		float: left;
		display: flex;
    justify-content: left;
    align-items: center;
		width: 41.66%;
		height: 100%;
		background-color: $white;
		@include indentation(padding-left);

		.align {
			.title {
				text-transform: uppercase;
			}

			.description {
				font-size: .33rem;
				font-weight: 200;
				margin: .66rem 0;

				span.par {
					display: block;
					padding: .25rem 0;
				}

				.bold {
					display: block;
					font-weight: 800;
				}
			}
		}
	}

	.address {
		position: relative;
		float: left;
		width: 58.33%;
		height: 100%;
		@include indentation(padding-right);
		background-image: url('../assets/img/academy.jpg');
		background-size: cover;
		background-position: center;
		display: flex;
    justify-content: center;
    align-items: center;

		.align {
			position: relative;
			z-index: 2;

			.column {
				li {
					position: relative;
					list-style-type: none;
					padding-left: 1rem;
					margin: .66rem 0;
					color: $white;
					font-family: 'Gilroy';
					font-weight: 800;

					&:before {
						content: "\e900";
						position: absolute;
						top: 0;
						left: 0;
						font-family: 'icomoon' !important;
						font-size: .5rem;
						color: $orange;
					}

					h3 {
						font-size: .42rem;
						font-weight: 200;
						text-transform: uppercase;
						color: $orange;
						letter-spacing: 1px;
						margin-bottom: .33rem;
					}
				}
			}
		}

		.shadow-bg {
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-color: $black;
			opacity: .5;
		}
	}

	// Media

	@media only screen and (max-width: 1199px) {
		.left, .address {
			float: none;
			width: 100%;
			padding: 2rem 0;
			@include indentation(padding-left);
			@include indentation(padding-right);
		}

		.left {
			text-align: center;

			.align {
				width: 100%;

				.sub-title {
					margin: .5rem 1rem;
				}
			}
		}

		.address {
			.column {
				width: 100%;

				h2 {
					font-size: .83rem;
					text-transform: uppercase;
					padding-bottom: .5rem;
					color: $white;
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		.address {
			.column {
				float: left;
				width: 50%;

				h2 {
					display: none;
				}
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		height: 75vh;

		left, .address {
			float: left;
		}

		.left {
			.align {
				width: 66.66%;
			}
		}

		.address {
			.column {
				float: left;
				width: 50%;

				h2 {
					display: none;
				}
			}
		}
	}
}