// Global variables

@import './_common/_variables.scss';

// Mixin

@import './_mixin/_media.scss';
@import './_mixin/_responsive.scss';
@import './_mixin/_indentation.scss';
@import './_mixin/_align.scss';
@import './_mixin/_gradient.scss';

// Gilroy custom font

@import './_common/_fonts.scss';

// Preloader

@import './_common/_preloader.scss';

// Grid colums

@import './_common/_containers.scss';

// Common

@import './_common/_btn.scss';
@import './_common/_modal.scss';

// Footer

@import './_common/_footer.scss';

// Nav

@import './_nav/_desktop.scss';
@import './_nav/_mobile.scss';

// Partials

@import './_partials/_01_header.scss';
@import './_partials/_02_program.scss';
@import './_partials/_03_advantages.scss';
@import './_partials/_04_video.scss';
@import './_partials/_05_skills.scss';
@import './_partials/_06_schedule.scss';
@import './_partials/_07_date.scss';
@import './_partials/_08_about.scss';
@import './_partials/_09_feedback.scss';
@import './_partials/_10_team.scss';
@import './_partials/_11_academy.scss';

// Common style

html {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  @include responsive(font-size, $h1--s-mob, $h1--mob, $h1--tab, $h1--lap, $h1--des, $h1--l-des, $h1--f-hd);
}

html, body {
	width: 100%;
	height: 100%;
}

#main-scrollbar {
	width: 100%;
  height: 100%;
  overflow: auto;
}

.scrollbar-track {
  z-index: 10000;
}

* {
  box-sizing: border-box;
}

i.material-icons {
  position: relative;
  transform: translateY(.05rem);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body,
h1, h2, h3,
h4, h5, h6,
p, ul, li {
  padding: 0;
  margin: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Gilroy';
  font-weight: 800;
}

a {
  font-family: 'Gilroy';
  font-weight: 200;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: .83rem;
}

h3 {
  font-size: .66rem;
}

h4 {
  font-size: .42rem;
}

h5 {
  font-size: .33rem;
}

h6 {
  font-size: .25rem;
}

p {
  font-size: .33rem;
}

img {
  user-select: none;
}

.gradient {
  position: absolute;
  @include align(c,c);
  @include gradient(135deg, $blue-dark, $blue-light);
  width: 100%;
  height: 100%;
}