@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?vvg2n1');
  src:  url('icomoon.eot?vvg2n1#iefix') format('embedded-opentype'),
    url('icomoon.ttf?vvg2n1') format('truetype'),
    url('icomoon.woff?vvg2n1') format('woff'),
    url('icomoon.svg?vvg2n1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-place:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
