$btn-height: 1rem;

.btn {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	height: $btn-height;
	background-color: #212121;
	color: $white;
	font-family: 'Gilroy';
	font-size: .33rem;
	font-weight: 800;
	letter-spacing: 2px;
	line-height: $btn-height;
	padding: 0 .5rem;
	@include gradient(135deg, $blue-dark, $blue-light);
	transition: all .33s;
	animation-timing-function: ease-in-out;

	p {
		display: inline;
	}

	i.material-icons {
		position: relative;
		transform: translateY(.05rem);
		margin-left: .5rem;
		font-size: .33rem;

		transition: margin .33s;
		animation-timing-function: ease-in-out;
	}

	&.shadow {
		box-shadow: -10px 10px 75px 0px rgba(40,50,116,0.75);

		&:hover {
			box-shadow: -10px 10px 100px 2px rgba(40,50,116,0.70);
		}
	}

	&.modal {
		&:hover {
			padding-right: .4rem;

			i {
				margin-left: .60rem;
			}
		}
	}

	&.hover-shadow {
		&:hover {
			box-shadow: -2px 2px 20px 0px rgba(40,50,116,0.75);
		}
	}

	&.orange {
		@include gradient(135deg, $orange, $orange-dark);

		box-shadow: -10px 10px 75px 0px rgba(255,183,77,0.75);

		&:hover {
			box-shadow: -10px 10px 100px 2px rgba(255,183,77,0.70);
		}
	}
}