.container {
	position: relative;
	display: block;

	&.left {
		@include indentation(padding-top);
		@include indentation(padding-bottom);
		@include indentation(padding-left);
	}

	&.col-1 {
		width: 8.333%;
	}

	&.col-2 {
		width: 16.666%;
	}

	&.col-3 {
		width: 25%;
	}

	&.col-4 {
		width: 33%;
	}

	&.col-5 {
		width: 41.666%;
	}

	&.col-6 {
		width: 50%;
	}

	&.col-7 {
		width: 58.333%;
	}

	&.col-8 {
		width: 66.666%;
	}

	&.col-9 {
		width: 75%;
	}

	&.col-10 {
		width: 83.333%;
	}

	&.col-11 {
		width: 91.666%;
	}

	&.col-12 {
		width: 100%;
	}
}