// Gilroy font

@font-face {
  font-family: 'Gilroy';
	src: url(../assets/fonts/GilroyLight.woff2) format('woff2');
	font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../assets/fonts/GilroyExtraBold.woff2) format('woff2');
	font-style: bold;
	font-weight: 800;
}