footer {
	overflow: auto;
	padding: 1.5rem 0;
	@include indentation(padding-right);
	@include indentation(padding-left);
	background-color: $black;
	color: $white;

	section {
		float: left;
		padding: .5rem;

		// Media

		@media only screen and (max-width: 767px) {
			padding: .25rem;

			&.main,
			&.nav,
			&.office {
				display: none;
			}

			&.contact {
				width: 100%;
				text-align: center;
			}
		}

		@media only screen and (min-width: 768px) and (max-width: 1199px) {
			&.main {
				width: 50%;
			}

			&.nav {
				width: 25%;
			}

			&.contact {
				width: 25%;
			}
		}

		@media only screen and (min-width: 1200px) {
			&.main {
				width: 50%;
			}

			&.nav {
				width: 25%;
			}

			&.contact {
				width: 25%;
			}
		}

		&.main {
			.right {
				margin-top: .66rem;
				font-size: .25rem;
				font-family: 'Gilroy';
				font-weight: 800;
			}
		}

		&.nav {
			a {
				display: block;
				font-size: .33rem;
				font-weight: 200;
				text-transform: uppercase;
				padding: .025rem 0;
				color: $white;
				transition: color .33s;

				&:hover {
					color: $orange;
				}
			}
		}

		&.contact {
			a {
				display: block;
				font-size: .33rem;
				font-weight: 200;
				padding: .025rem 0;
				color: $white;
				transition: color .33s;

				&:hover {
					color: $orange;
				}
			}

			.mail {
				margin-top: .42rem;
			}
		}

		&.office {
			p {
				font-size: .33rem;

				&.time {
					margin: .42rem 0;
				}
			}

			a {
				display: block;
				float: left;
				height: 25px;

				span {
					display: block;
					line-height: .5rem;
					font-size: .42rem;
					padding-right: .25rem;
					color: $white;
					transition: color .33s;

					&:hover {
						color: $orange;
					}
				}
			}
		}

		.title {
			margin-bottom: .66rem;
		}
	}
}