#modal {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1500;
	height: 100vh;
	background-position: center;
	background-size: cover;
	@include gradient(135deg, $blue-dark, $blue-light);
	transform: translateX(100%);
	transition: all .33s;

	&.open {
		transform: translateX(0);
	}

	i.close {
		position: absolute;
		z-index: 5;
		@include align(r,t);
		@include indentation(margin-top);
		@include indentation(margin-right);
		height: .66rem;
		width: .66rem;
		cursor: pointer;
		font-size: .66rem;
		color: $white;
	}

	.content {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: right;
		color: $white;

		.align {
			position: relative;
			z-index: 2;
			width: 66.66%;

			form {
				width: 80%;
				margin: 0 auto;
			}

			h2 {
				text-transform: uppercase;
			}

			p {
				font-size: .42rem;
				font-weight: 200;
				margin: 1rem 0;
			}

			form {
				float: right;

				input {
					width: 100%;
					height: .75rem;
					float: right;
					background: none;
					border: 0;
					outline: none;
					margin: .25rem 0;
					padding: .25rem;
					border-bottom: 1px solid $white;
					color: $white;
					text-align: right;
					font-weight: 800;
					font-size: .33rem;
					transition: border .33s;

					&::placeholder {
						color: $white;
						font-weight: 200;
						font-size: .33rem;
					}

					&:focus {
						border-bottom-color: $orange;
					}
				}

				.btn {
					background-image: none;
					background-color: $orange;
					width: 66.66%;
					margin-top: 1rem;
					text-align: center;

					p {
						font-weight: 800;
						font-size: .33rem;
					}
				}
			}

			.social-icons {
				float: right;
				display: block;
				width: 100%;
				margin-top: 1rem;

				.icon {
					font-size: .28rem;
					color: $white;
					border: 1px solid $white;
					border-radius: 50px;
					padding: .22rem;
					transition: all .33s;

					&:hover {
						color: $orange;
						border-color: $orange;
					}
				}
			}
		}
	}

	// Media

	@media only screen and (max-width: 767px) {
		width: 100%;

		.content {
			@include indentation(padding-left);
			@include indentation(padding-right);

			.align {
				width: 83.33%;
				margin: 0 auto;

				form {
					width: 100%;
				}
			}
		}
	}

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		width: 100%;

		.content {
			@include indentation(padding-right);
		}
	}

	@media only screen and (min-width: 1200px) {
		width: 58.33%;

		.content {
			@include indentation(padding-right);
		}
	}
}