.preloader {
	position: fixed;
	z-index: 10000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	@include gradient(135deg, $blue-dark, $blue-light);

	transition: all .33s 3.33s;

	.logo img {
		position: absolute;
		z-index: 10;
		@include align(c,c);
		height: 7.5rem;
		transition: opacity .33s 3s;
	}

	.line-preloader {
    width: 100%;
    height: .125rem;
    background: linear-gradient(to right, $orange, $orange);
    background-color: $white;
		position: fixed;
		z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0px;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
		animation: scroll 1.2s ease-in-out infinite;

		transition: all .33s 1.5s;
  }

  @keyframes scroll {
    50%{background-size: 80%}
    100%{background-position: 125% 0;}
	}

	&.hide {
		pointer-events: none;
		height: 0;

		.logo img {
			opacity: 0;
		}

		.line-preloader {
			height: 0;
		}
	}
}