// Variable

// Color

$white: #fff;
$black: #212121;
$red: #e54b4b;
$orange: #ffb74d;
$orange-dark: #ff9d4d;

$blue-light: #283274;
$blue-dark: #145698;


// Global padding for border

$pad--s-mob: 10px;
$pad--mob: 20px;
$pad--tab: 30px;
$pad--lap: 60px;
$pad--des: 50px;
$pad--l-des: 60px;
$pad--f-hd: 80px;

// Responsive font size for using "rem"

$h1--s-mob: 32px;
$h1--mob: 36px;
$h1--tab: 46px;
$h1--lap: 50px;
$h1--des: 42px;
$h1--l-des: 56px;
$h1--f-hd: 70px;

// Nav

$nav-height: 1rem;
$nav-color: $white;
$nav-color-hover: $orange;
$nav-color-scroll: $black;
$nav-color-scroll-nav: $white;
$nav-padding-scroll: .42rem;
$nav-bg-color-scroll: $white;
$nav-anim-dur: .33s;
$nav-anim-open-dur: .66s;